In [1]:
import sqlite3 as sql
import pandas as pd
import numpy as np

In [34]:
adverse_data = pd.read_csv("data/adae.csv")

In [33]:
cnn = sql.connect('jupyter_sql_tutorial.db')

In [36]:
adverse_data.to_sql('adae', cnn)

In [37]:
%load_ext sql
%sql sqlite:///jupyter_sql_tutorial.db

In [138]:
%%sql

SELECT 
    aesev AS "Maximum Severity",
    COUNT(*) FILTER (WHERE agegrp LIKE '%<65%') AS '<65',
    COUNT(*) FILTER (WHERE agegrp LIKE '%65-80%') AS '65-80',
    COUNT(*) FILTER (WHERE agegrp LIKE '%>80%') AS '>80'
    
FROM adae


GROUP BY aesev

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('MILD', 127, 413, 230), ('MODERATE', 46, 247, 85), ('SEVERE', 2, 25, 16)]

In [148]:
%%sql

WITH added_row_number AS (SELECT *,
                          ROW_NUMBER() OVER(PARTITION BY subjid ORDER BY aesev DESC) AS row_number
                          FROM adae)
SELECT 
    aesev AS "Maximum Severity",
    COUNT(*) FILTER (WHERE agegrp LIKE '%<65%') AS '<65',
    COUNT(*) FILTER (WHERE agegrp LIKE '%65-80%') AS '65-80',
    COUNT(*) FILTER (WHERE agegrp LIKE '%>80%') AS '>80',
    COUNT(subjid) AS 'Total'
FROM added_row_number
WHERE row_number=1
GROUP BY aesev

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('MILD', 12, 41, 24, 77),
 ('MODERATE', 15, 69, 33, 117),
 ('SEVERE', 2, 18, 11, 31)]